#team{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;

}

.member{
    text-align: center;
    border: 1px solid blue;
    padding: 10px;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
